{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <h1>Les documents en attente de dépôt pour  {{ contributor.login }} sur HAL</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-success"
                href="{{ path('contributor_show',{'id':'contributor.id'}) }}">Valider les choix</button>
    {{ form_end(form) }}
    </div>
{% endblock %}